@import url("https://fonts.googleapis.com/css?family=Lato:400,700,300,100italic");
body {
  color: #000;
  font-size: 24pt;
  font-family: 'Lato',sans-serif;
  background: #33beff;
}

content {
  background: #eee;
  margin: 0px auto;
  display: block;
  width: 75%;
  text-align: center;
  padding: 50px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: inset -3px -3px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

h2 {
  font-weight: 100;
  font-style: italic;
  font-size: 0.8em;
  margin: 0;
}

a {
  font-weight: 400;
  color: #00aeff;
}
a:hover {
  color: #ff5100;
}

.middle a {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  transition: all 0.6s;
}
.middle a:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #00aeff;
  transition: all 0.3s;
}
.middle a:hover:before {
  width: 100%;
  left: 0;
  background: #ff5100;
}

.left a {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  transition: all 0.6s;
}
.left a:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #00aeff;
  transition: all 0.3s;
}
.left a:hover:before {
  width: 100%;
  left: 0;
  background: #ff5100;
}

.right a {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  transition: all 0.6s;
}
.right a:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 100%;
  background: #00aeff;
  transition: all 0.3s;
}
.right a:hover:before {
  width: 100%;
  left: 0;
  background: #ff5100;
}

.pass a {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  transition: all 0.6s;
}
.pass a:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00aeff;
  transition: all 0.3s;
}
.pass a:hover:before {
  width: 100%;
  left: 0;
  background: #ff5100;
}
